[submodule "pokedex"]
	path = pokedex
	url = https://github.com/veekun/pokedex
[submodule "sprites"]
	path = sprites
	url = https://github.com/PokeAPI/sprites.git
[submodule "serveLegality-CLI"]
	path = serveLegality-CLI
	url = https://github.com/ElectroJo/serveLegality-CLI.git
