[submodule "pokedex"]
	path = pokedex
	url = https://github.com/veekun/pokedex
[submodule "sprites"]
	path = sprites
	url = https://github.com/PokeAPI/sprites.git
[submodule "PKSM-Tools"]
	path = PKSM-Tools
	url = https://github.com/BernardoGiordano/PKSM-Tools.git
